<header>
    <div class="segment-left">
        <div class="logo">
            <h2>AngularLab</h2>
        </div>
        <div class="options">
            <div class="content-option">
                <i class="fas fa-search"></i>
                <span>Soluciones</span>
            </div>
            <div class="content-option">
                <i class="fas fa-calculator"></i>
                <span>Calculadora</span>
            </div>
            <div class="content-option">
                <i class="far fa-lightbulb"></i>
                <span>Practica</span>
            </div>
            <div class="content-option">
                <i class="fas fa-book"></i>
                <span>Cuaderno</span>
            </div>
        </div>
    </div>
    <div class="segment-right">
        <div class="comunity">
            <div>
                <h6>UNIRSE</h6>
            </div>
            <div>
                <h6>INICIAR SESIÓN</h6>
            </div>
            <div class="search">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    
</header>

<nav>
    <ul>
        <li>Funciones</li>
        <li>Matrices</li>
        <li>Geometria</li>
        <li>Trigonometria</li>
        <li>Calculo</li>
        <li>Estadistica</li>
        <li>Conversiones</li>
    </ul>
</nav>
