<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>¿Que puedes hacer aquí?</h3>
                    <ul>
                        <li><a href="#">Sumar</a></li>
                        <li><a href="#">Restar</a></li>
                        <li><a href="#">Multiplicar</a></li>
                        <li><a href="#">Dividir</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Acerca de</h3>
                    <ul>
                        <li><a href="#">Compañia</a></li>
                        <li><a href="#">Equipo</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Calculadora L&M</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, praesentium vero error dolorem in, debitis veritatis, ullam labore adipisci alias eligendi! Quas ullam, eaque dolor at officiis rem nostrum facilis?.</p>
                </div>
                <div class="col item social"><a href="/"><i class="icon ion-social-facebook"></i></a><a href="/"><i class="icon ion-social-twitter"></i></a><a href="/"><i class="icon ion-social-snapchat"></i></a><a href="/"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">L&M Company © 2022</p>
        </div>
    </footer>
</div>