<section class="content-main">
    <div class="title">
        <h1>Calculadora L&M</h1>
        <p>Resolver ejercicios de suma, resta, multiplicación y división</p>
    </div>
    <div class="form">
        <div class="operation">
            <button (click)='getSum(num1.value, num2.value)'>SUMAR</button>
            <button (click)='getSubstraction(num1.value, num2.value)'>RESTAR</button>
            <button (click)='getMultiplication(num1.value, num2.value)'>MULTIPLICAR</button>
            <button (click)='getDivision(num1.value, num2.value)'>DIVIDIR</button>
            <button (click)='getEmpowerment(num1.value, num2.value)'> POTENCIA^X </button>
        </div>

        <form action="" class="content" >
            
            <div class="content-input">
                <label for="num1">Numero 1:</label>
                <input type="number" name="num1" id="num1" required #num1>
            </div>
            <div class="content-input">
                <label for="num2">Numero 2 o Exponente:</label>
                <input type="number" name="num2" id="num2" required #num2>
            </div>
        </form>
    </div>
    <div class="answer">
        <span>Respuesta: </span>
        <p>{{ getAnswer() }}</p>
    </div>
</section>
